    <div class="menu" role="menu" tabindex="-1" (keydown.escape)="closed.emit()">
      <ng-container *ngFor="let item of items">
        <div *ngIf="item.divider" class="divider" role="separator"></div>
        <button
          *ngIf="!item.divider"
          class="menu-item"
          type="button"
          [disabled]="item.disabled"
          (click)="onItemClick(item)"
          role="menuitem"
        >
          <span *ngIf="item.icon" class="material-icons icon">{{ item.icon }}</span>
          <span class="label">{{ item.label }}</span>
        </button>
      </ng-container>
    </div>